:root {
	--font-family: "Roboto", sans-serif;
	--line-height: 1.5;
	--font-weight: 400;

	--text-color: #121417;
	--color-white: #fff;

	--yellow: #f4c550;
	--light-yellow: #fbe9ba;
	--green: #9fbaae;
	--light-green: #cbded3;
	--blue: #9fb7ce;
	--light-blue: #bfd6ea;
	--brown: #e0a39a;
	--light-brown: #f2c0bd;
	--orange: #f0aa8d;
	--light-orenge: #f4c8ba;
}

/* Reset styles */

html {
	scroll-behavior: smooth;
	scroll-padding-top: 50px;
}

body {
	color: black;
}

html,
body {
	overflow-x: hidden;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	color: var(--text-color);
}

p:last-child {
	margin-bottom: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

address {
	font-style: normal;
}

button {
	border-radius: 12px;
	padding: 16px 88px;
	width: 267px;
	height: 60px;

	font-family: inherit;
	background: var(--light-yellow);
	cursor: pointer;
	transition: background-color 0.25s;
}
button:hover {
	background-color: var(--yellow);
}

input {
	outline: transparent;
}

textarea {
	outline: transparent;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.title {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 24px;
	line-height: 117%;
	letter-spacing: -0.02em;
	color: var(--text-color);
}

.p {
	font-size: 12px;
	line-height: 1.25;
}

.container {
	min-width: 100%;
	/* max-width: 100%; */
	padding-left: 16px;
	padding-right: 16px;
	margin: 0 auto;
}

.section {
	padding: 0;
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 1279px;
		padding: 0 32px;
	}

	.title {
		font-size: 32px;
		line-height: 0.92;
	}
	.p {
		font-size: 12px;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 1439px;
		padding: 0 48px;
	}

	.title {
		font-size: 48px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1600px;
		padding: 0 64px;
	}
}

.no-scroll {
	overflow: hidden;
}
